<hr>
   
<p class="form-hint">
  <img src="/static/gocardless.png" />
  <img src="/static/directdebit.png" />
</p>
   
<p class="form-hint">
  Your payments are protected by the <a href="#">Direct Debit guarantee</a>.
</p>

<p class="form-hint">
  GoCardless Ltd, 338-346 Goswell Road, London, EC1V 7LQ.&nbsp;&nbsp;<br>E-mail: help@gocardless.com &nbsp;&nbsp; Tel: 020 7183 8674
</p>

<p class="form-hint">
  GoCardless is regulated by the Financial Conduct Authority as an Authorised Payment Institution.
  By confirming you agree to pay £{{session.amount}} to {{session.what}} and agree to the GoCardless
  <a target="_blank" class="u-text-meta" href="/legal">terms &amp; conditions</a>. 
</p>