{% extends "base.html" %}
{% block content %}
<article class="content__body">
  <header>
	<h1 class="heading-large">Choose how you'd like to pay</h1>
  </header>
  
  <table class="min summary">
    <tbody>
      <tr>
        <th class="grid-1-2">Paying</th>
        <td class="grid-1-2">{{session.what}}</td>
      </tr>

      <tr>
        <th>Account number</th>
        <td id="tax-reference" class="figure">{{session.account}}</td>
      </tr>
      
      <tr>
        <th>Amount</th>
        <td class="figure">£{{session.amount}}</td>
      </tr>
    </tbody>
  </table>

  <form method="POST">
    <fieldset class="form-group  {% if 'method' in errors %} error-overview {% endif %}">
	  <label for="method-stripe" class="block-label card-label ">
	    <input type="radio" name="method" value="stripe" id="method-stripe" required> Card payment
	    <p class="form-hint">using Stripe</p>
	  </label>
    
	  <label for="method-gocardless" class="block-label card-label ">
	    <input type="radio" name="method" value="gocardless" id="method-gocardless" required> Direct Debit
	    <p class="form-hint">using GoCardless</p>
	  </label>
	  
<!-- 	  <label for="method-card" class="block-label card-label ">
	    <input type="radio" name="method" value="card" id="method-card" required> Card payment
	    <p class="form-hint">using WorldPay</p>
	  </label> -->
	  
	  <!--<label for="method-in-person" class="block-label card-label ">
	    <input type="radio" name="method" value="in-person" id="method-in-person" required>
	      At your bank, building society or a Post Office
        <p class="form-hint">You can print a paying in slip. <br>You can use cheque, cash or card in person.</p>
	  </label>-->
	  
	  <label for="method-paypal" class="block-label card-label ">
	    <input type="radio" name="method" value="paypal" id="method-paypal" required> PayPal
	  </label>
	  
<!-- 	  <label for="method-bitcoin" class="block-label card-label ">
	    <input type="radio" name="method" value="bitcoin" id="card-type-visa-debit" required> Bitcoin
	  </label>
	  
	  <label for="method-bitcoin" class="block-label card-label ">
	    <input type="radio" name="method" value="bitcoin" id="card-type-visa-debit" required> Mobile Phone 
	  </label> -->
    </fieldset>
	
    <p><input type="submit" id="next" class="button" value="Next"></p>
  </form>
</article>
{% endblock %}