{% extends "base.html" %}
{% block content %}

<article class="content__body">
  <br>

  {% if payment['provider'] == 'stripe' %}
     {% include 'stripe/status.html' %}
  {% elif payment['provider'] == 'gocardless' %}
     {% include 'gocardless/status.html' %}
  {% elif payment['provider'] == 'paypal' %}
     {% include 'paypal/status.html' %}
  {% endif %}

  <table class="min summary">
    <tbody>
      <tr>
        <th class="grid-1-2">Paying</th>
        <td class="grid-1-2">{{payment.what}}</td>
      </tr>

      <tr>
        <th>Amount</th>
        <td class="figure">£{{payment.amount}}</td>
      </tr>
		
      <tr>
        <th>Account number</th>
        <td id="tax-reference" class="figure">{{payment.account}}</td>
      </tr>
           
      {% if payment['provider'] == 'stripe' %}
      	{% include 'stripe/summary.html' %}
	  {% elif payment['provider'] == 'gocardless' %}
      	{% include 'gocardless/summary.html' %}
	  {% elif payment['provider'] == 'paypal' %}
      	{% include 'paypal/summary.html' %}
	  {% endif %}
    </tbody>
  </table>
  
  <p>You can bookmark this page and check back, or print or write down the
    reference number and use our <a href="#">online checker</a>.</p>
  
  <div class="print-link extra-top-margin">
	<p><img src="/static/print-icon.png" align="center"> &nbsp;  <a href="#" rel="nofollow" target="_blank">Print</a></p>
  </div>
	
  <p><a href="" rel="nofollow" target="_blank">Download as PDF</a></p>
{% endblock %}
