{% extends "base.html" %}
{% block content %}

<article class="content__body">
  <br>

  <header class="page-header">
	<div class="transaction-banner--complete {% if not payment.success %}error{% endif %}">
	    <h1 class="transaction-banner__heading">
		    {% if payment.success %}
		      Payment succeeded
		    {% else %}
		      Payment failed
		    {% endif %}
	    </h1>
	    <h2 class="transaction-banner__heading">Reference: <br>{{payment._id}}</h2>
	</div>
  </header>

  <table class="min summary">
    <tbody>
      <tr>
        <th class="grid-1-2">Paying</th>
        <td class="grid-1-2">{{payment.what}}</td>
      </tr>

      <tr>
        <th>Amount</th>
        <td class="figure">£{{payment.amount}}</td>
      </tr>
		
      <tr>
        <th>Account number</th>
        <td id="tax-reference" class="figure">{{payment.account}}</td>
      </tr>
      
      {% if payment.success %}
	      {% if payment['method'] == 'card' %}
	      	{% include 'status-card.html' %}
		  {% endif %}
		  {% if payment['method'] == 'paypal' %}
	      	{% include 'status-paypal.html' %}
		  {% endif %}
	  {% else %}
		  <tr>
	        <th>Problem</th>
	        <td id="tax-reference" class="figure">{{payment.message}}</td>
	      </tr>
	  {% endif %}
    </tbody>
  </table>
  
  <p>You can bookmark this page and check back, or print or write down the
    reference number and use our <a href="#">online checker</a>.</p>
  
  <div class="print-link extra-top-margin">
	<p><img src="/static/print-icon.png" align="center"> &nbsp;  <a href="#" rel="nofollow" target="_blank">Print</a></p>
  </div>
	
  <p><a href="" rel="nofollow" target="_blank">Download as PDF</a></p>

  {% if not payment.success %}
	  <form method="GET" action="{{url_for('index')}}">
	    <p><input type="submit" id="confirm" class="button" value="Try Again"></p>
	  </form>
  {% endif %}

{% endblock %}
