{% extends "base.html" %}
{% block content %}

<article class="content__body">
  <header>
	<h1 class="heading-large">Confirm your payment</h1>
  </header>

  <table class="min summary">
    <tbody>
      <tr>
        <th class="grid-1-2">Paying</th>
        <td class="grid-1-2">{{session.what}}</td>
      </tr>

      <tr>
        <th>Amount</th>
        <td class="figure">£{{session.amount}}</td>
      </tr>

      <tr>
        <th>Account number</th>
        <td id="tax-reference" class="figure">{{session.account}}</td>
      </tr>
      
      <tr>
        <th>Payment type</th>
        <td id="tax-reference" class="figure">Direct Debit {{session['payment-type']}} from {{session['account-number']}}</td>
      </tr>
    </tbody>
  </table>
  
 
  {% if mandate %}
 	<p class="important-notice">You have used this account before.<br>We can take payment on {{charge_date}}.</p>
  {% else %}
 	<p class="important-notice">You must read and confirm the terms in the e-mail we send you for your payment to go ahead.</p>
    <p class="important-notice">We can take payment 10 days after you click to agree, some time after {{charge_date}}.</p>
  {% endif %}
  
  <br>
  
  <form method="POST">
    <label for="email" class="form-label">
      <legend class="form-label-bold">E-mail address</legend>
	  <input type="text" class="form-control input-medium" name="email" id="email" value="{{session['email']}}" required>
    </label>
  	
    <p><input type="submit" id="confirm" class="button" value="Confirm"></p>    
  </form>
  
  {% include 'gocardless_dd.html' %}
{% endblock %}
