{% extends "base.html" %}
{% block content %}

<article class="content__body">
  <header>
	<h1 class="heading-large">Confirm your payment</h1>
  </header>

  <table class="min summary">
    <tbody>
      <tr>
        <th class="grid-1-2">Paying</th>
        <td class="grid-1-2">{{session.what}}</td>
      </tr>

      <tr>
        <th>Amount</th>
        <td class="figure">£{{session.amount}}</td>
      </tr>

      <tr>
        <th>Account number</th>
        <td id="tax-reference" class="figure">{{session.account}}</td>
      </tr>
    </tbody>
  </table>
  
  <form method="POST">
   	<input type="image" name="confirm" value="Confirm" src="/static/paypal.png">
  </form>
{% endblock %}
