{% extends "base-status.html" %}

{% block status %}
	<div class="transaction-banner--complete {% if ('execution' in payment.provider_specific) and (payment.provider_specific.execution.state != 'approved') %}error{% endif %}">
		<h1 class="transaction-banner__heading">Payment {{payment.provider_specific.execution.state}}</h1>
		<h2 class="transaction-banner__heading">Reference: <br>{{payment._id}}</h2>
	</div>
{% endblock %}

{% block summary %}
	<tr>
	  <th>Payment method</th>
	  <td id="tax-reference" class="figure">PayPal</td>
	</tr>
	
	{% if 'execution' in payment.provider_specific %}
		<tr>
		  <th>Account used</th>
		  <td id="tax-reference" class="figure">{{payment.provider_specific.execution.payer.payer_info.email}}</td>
		</tr>
	{% endif %}
{% endblock %}